body {
  background-color: #e4e4e4;
  font-family: Apis-Medium, Sans;
  /* margin-bottom: 0px; */
  overflow-x: hidden;
  height: 100%;
}

@font-face {
  font-family: Apis-Medium;
  src: url("./fonts/Apis-Medium.ttf");
}
@font-face {
  font-family: Apis-Regular;
  src: url("./fonts/Apis-Regular.ttf");
}
@font-face {
  font-family: Poppins-Bold;
  src: url("./fonts/Poppins-Bold.ttf");
}
@font-face {
  font-family: Poppins-ExtraLight;
  src: url("./fonts/Poppins-ExtraLight.ttf");
}
@font-face {
  font-family: Poppins-Medium;
  src: url("./fonts/Poppins-Medium.ttf");
}
@font-face {
  font-family: Poppins-Regular;
  src: local("./fonts/Poppins-Regular.ttf"),
      url("./fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: Poppins-SemiBold;
  src: local("./fonts/Poppins-SemiBold.ttf"),
  url("./fonts/Poppins-SemiBold.ttf");
}

@media (max-width: 768px) {
  #question p {
      padding-left: 0px;
      padding-right: 0px;
  }
  
  #answers li {
      width: 100%;
  }
  
  #submit button {
      width: 100%;
  }
}

@media (max-width: 480px) {
  footer {
      padding: 5px;
  }
  
  footer small {
      display: none;
  }
}

@media only screen and (min-width:600px) {
  .lg {
    display: block;
  }
}

/*phone*/
@media only screen and (max-width:414px) {
  header{
    height: 13%;
    background-color: transparent;
    padding-right: 40px;
    padding: 15px;
    text-align: end;
  }
  .fondo{
    background-color: #BFC8D0;
    height:70%;
    overflow: hidden;
  }
  footer {
    height: 14%;
    background-color: transparent;
    color: white;
    margin-top: 0px;
    padding-top: 40px;
    padding-bottom: 0px;
    padding-right: 35px;
    text-align: end;
  }
  #question {
    /* background-color: #c9d1d0; */
    color: #8B9696;
    padding: 10px;
    text-align: center;
    height: 100%;
  }
  .contenido2 {
    height: 100%;/*22vh*/
    display: inline;
  }
  .pregunta {
    margin-top: 1.5vh;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .contenido p {  
    /* font-family: Poppins-Regular, Sans; */
    font-size: calc(1rem + 1.5vw);/*2.3rem*/
  }
  .dots {
    width: 90%;
    margin: 0px;
    margin-top: 0px;
    margin-bottom: 5px;
    position: relative;
  }
  #question p{
    font-family: Poppins-Medium, Sans;
    font-size: 1rem;/*40px*/
    font-weight: 700;
  }
  .questionBox {
    height: 70%;
  }
  
  .mobileSlider {
    display: show;
  }
  .desktopSlider {
    display: none;
  }
  .imageHeader {
    margin-left: 0px;
  }
  .headerContenido {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    align-content: right;
  }
  .resultTitle {
    margin-left: 5vw;
    text-align: center
  }
  .resultText {
    font-size: calc(1rem + 0.1vw);
    margin-left:5vw;
    text-align: center;
  }
  .hostImg {
    height: inherit;
    margin-top: 0%;
    margin: auto;
    margin-right: 15px;
    padding: auto;
    text-align: center;
    overflow: hidden;
  }
  #answers {
    margin-top: 7%;
    background-color: transparent;
    min-height: 70px;
    width: 100%;
    display: flex;
    transition: color .3s ease, border-color .3s ease, transform .3s ease;
    cursor: pointer;
    height: 30vh;
  }
  #answers ul{
    list-style-type: none;
    padding: 0px;
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 35vh;
  }
  #answers li {
    font-family: Poppins-Medium, Sans;
    background-color:#ffffff;
    min-height: 7px;
    max-height: 9vh;/*75px*/
    width: 98%;
    display: flex;
    margin: 5px 5px;
    transition: color .3s ease, border-color .3s ease, transform .3s ease;
    cursor: pointer;
    border-style: solid;
    border-width: 2px;
  }
  .iconList{
    max-width: 20%;/*80px*/
    /* max-height: 70px; */
  }
  #answers li p {
    color: #0b0e21;
    align-self: center;
    font-size: 11px;
    font-weight: 600;
    margin: auto;
    transition: color .3s ease;
  }
  .box{ 
    display:none;
    overflow: hidden;
  }
  .Banner {
    background-color: #D7DBDF;
    width: 100%;
    height:auto;
  }
  .Banner-text {
    color: grey;
    text-align: center;
    padding-top: 5px;
    font-family: Poppins-Medium, Sans;
    font-size: 18px;
  }
  .frame-text {
    color:white;
    font-family:Poppins-Regular;
    font-size: 16px;
    margin: 4%;
    margin-left: -20%;
    margin-right: -5px;
    width: 150px; 
  }
  .trapezoid {
    width: 95%;
    height: 0px;
    border-right: 28px solid transparent;
    border-left-width: 28px;
    border-left-style: solid;
    border-top-width: 35px;
    border-top-style: solid;
  
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    margin:0px ;
    padding:0px; /*no mover de 0px se DAÑA :v */
  }
  .CardStyle {
    width: 95%;
    height: auto/*460px;/*65vh*/
  }
}
/*PC*/
@media only screen and (min-width:415px) {
  
  .frame-text {
    color:white;
    font-family:Poppins-Regular;
    font-size: 14px;
    margin:6%;
    /* margin-top: 0px; */
    /* margin-bottom: 0px; */
    margin-left: -20%;/*-20%*//*-71.9%*/
    /* margin-right: 0px; */
  }
  .trapezoid {
    width: 80%;
    height: 0px;
    border-right: 28px solid transparent;
    border-left-width: 28px;
    border-left-style: solid;
    border-top-width: 35px;
    border-top-style: solid;
  
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    margin:0px ;
    padding:0px; /*no mover de 0px se DAÑA :v */
  }
  .CardStyle {
    width: 95%;
    height: auto/*460px;/*65vh*/
  }
  .Banner {
    background-color: #D7DBDF;
    width: 100%;
    height:auto;
  }
  .Banner-text {
    color: grey;
    text-align: center;
    padding-top: 5px;
    font-family: Poppins-Medium, Sans;
    font-size: 18px;
  }
  .box{ 
    overflow: hidden;
  }
  .Banner-img {
    height: 100%;
    overflow: hidden; 
  }
  .Banner-btn {
    background-color: #62788D;
    color: "#FFFFFF";
  }
  #question {
    /* background-color: #c9d1d0; */
    color: #8B9696;
    padding: 10px;
    text-align: center;
  }

  #question p{
    font-family: Poppins-Medium, Sans;
    font-size: 3.2rem;/*40px*/
    font-weight: 700;
    letter-spacing: 2px;
  }

  #answers ul{
    list-style-type: none;
    padding: 0px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
  }

  #answers li {
    font-family: Poppins-Medium, Sans;
    background-color:#ffffff;
    min-height: 70px;
    /* max-height: 90px; *//*90px*/
    width: 98%;
    display: flex;
    margin: 10px 10px;
    transition: color .3s ease, border-color .3s ease, transform .3s ease;
    cursor: pointer;
    border-style: solid;
    border-width: 2px;
  }

  #answers {
    background-color: transparent;
    min-height: 70px;
    width: 100%;
    display: flex;
    transition: color .3s ease, border-color .3s ease, transform .3s ease;
    cursor: pointer;
    /* height: inherit; */
  }

  #answers li p {
    color: #0b0e21;
    font-size: 12px;
    font-weight: 600;
    flex: calc(100% - 75px);
    margin: auto 10px;
    transition: color .3s ease;
  }

  #submit {
    text-align: center;
    margin: 20px 0;
  }

  header{
    height: 15%;
    background-color: transparent;
    padding-right: 40px;
    text-align: end;
  }

  footer {
    height: 15%;
    background-color: transparent;
    color: white;
    padding-top: 10px;
    padding-right: 40px;
    text-align: end;
  }

  .footeranswer{
    background-color: #C7E5E9;
    color: #62788D;
    padding: 10px;
    text-align: center;
  }

  footer p {
    margin: 0;
  }

  footer small {
    margin-bottom: 10px;
  }

  footer span {
    color: crimson;
  }

  .fondo{
    background-color: #BFC8D0;
    height:100%;
  }

  .contenido {
    width: 100%;
    /* height: 100%; */
    margin: auto;
    align-content: center;
    font-size: 3.2rem;
  }

  .headerContenido {
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 0px;
    align-content: center;
  }
  .contenido2 {
    width: 100%;
    /* height: 510px */;/*510px*/
    margin-top: 2% ;
  }
  .dots {
    width: 90%;
    margin: 0px;
    margin-top: 0px;
    position: absolute;
    bottom: 12px;
    left: 14px;
    right: 10px;
  }
  .pregunta {
    width: 100%;
    margin-top: 20%;
    margin-left: 0%;
    font-family: "Poppins-Regular";
  }
  .desktopSlider {
    display: show;
  }
  .mobileSlider {
    display: none;
  }
  .imageHeader {
    margin-top: -40px;
    margin-right: 0%;
  }
  .resultText {
    font-size: calc(1rem + 0.1vw);
    margin-left:-20%;
    text-align: left;
  }
  .resultTitle {
    margin-left: -20%;
    text-align: left;
  }
  .hostImg {
    height: 100%;
    text-align: end;
    overflow: hidden;
  }
  .iconList{
    height: 100%;
  }
}
@media only screen and (min-width:1400px) {
  .resultText {
    font-size: 1.5vw;
    margin-left:-20%;
  }
}

