body {
  background-color: #e4e4e4;
  font-family: Apis-Medium, Sans;
  margin-bottom: 0px;
  overflow-x: hidden;
  height: 100%;
  
}
/*html {
  height: 100%;
}
#root{
  height: 100%;
}*/

@font-face {
  font-family: Apis-Medium;
  src: url("./fonts/Apis-Medium.ttf");
}
@font-face {
  font-family: Apis-Regular;
  src: url("./fonts/Apis-Regular.ttf");
}
@font-face {
  font-family: Poppins-Bold;
  src: url("./fonts/Poppins-Bold.ttf");
}
@font-face {
  font-family: Poppins-ExtraLight;
  src: url("./fonts/Poppins-ExtraLight.ttf");
}
@font-face {
  font-family: Poppins-Medium;
  src: url("./fonts/Poppins-Medium.ttf");
}
@font-face {
  font-family: Poppins-Regular;
  src: local("./fonts/Poppins-Regular.ttf"),
      url("./fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: Poppins-SemiBold;
  src: local("./fonts/Poppins-SemiBold.ttf"),
  url("./fonts/Poppins-SemiBold.ttf");
}

#question {
  /* background-color: #c9d1d0; */
  color: #8B9696;
  padding: 10px;
  text-align: center;
}

#question p{
  font-family: Poppins-Medium, Sans;
  font-size: 3.2rem;/*40px*/
  font-weight: 700;
  letter-spacing: 2px;
}

#answers ul{
  list-style-type: none;
  padding: 0px;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#answers li {
  font-family: Poppins-Medium, Sans;
  background-color:#ffffff;
  min-height: 70px;
  max-height: 120px;
  width: 98%;
  display: flex;
  margin: 10px 10px;
  transition: color .3s ease, border-color .3s ease, transform .3s ease;
  cursor: pointer;
  border-style: solid;
  border-width: 2px;
}

#answers {
  background-color: transparent;
  min-height: 70px;
  width: 100%;
  display: flex;
  transition: color .3s ease, border-color .3s ease, transform .3s ease;
  cursor: pointer;
}

#answers li p {
  color: #0b0e21;
  font-size: 12px;
  font-weight: 600;
  flex: calc(100% - 75px);
  margin: auto 10px;
  transition: color .3s ease;
}


#submit {
  text-align: center;
  margin: 20px 0;
}


header{
  background-color: transparent;
  padding: 20px;
  text-align: end;
}

footer {
  background-color: transparent;
  color: white;
  padding: 20px;
  text-align: end;
}

.footeranswer{
  background-color: #C7E5E9;
  color: #62788D;
  padding: 10px;
  text-align: center;
}

footer p {
  margin: 0;
}

footer small {
  margin-bottom: 10px;
}

footer span {
  color: crimson;
}

.fondo{
  background-color: #BFC8D0;
}

.contenido {
  width: 100%;
  height: 100%;
  margin: auto;
  align-content: center;
  font-size: 3.2rem;
}
.headerContenido {
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 0px;
  align-content: center;
}
.contenido2 {
  width: 100%;
  height:510px;/*510px*/
  margin: auto ;
}
.dots {
  width: 90%;
  margin: 0px;
  margin-top: 0px;
  position: absolute;
  bottom: 12px;
  left: 14px;
  right: 10px;
}
.pregunta {
  width: 100%;
  margin-top: 25%;
  margin-left: 0%;
  font-family: "Poppins-Regular";
}
@media (max-width: 768px) {
  #question p {
      padding-left: 0px;
      padding-right: 0px;
  }
  
  #answers li {
      width: 100%;
  }
  
  #submit button {
      width: 100%;
  }
}

@media (max-width: 480px) {
  footer {
      padding: 5px;
  }
  
  footer small {
      display: none;
  }
}

.trapezoid {
  width: 80%;
  height: 0px;
  border-right: 28px solid transparent;
  border-left-width: 28px;
  border-left-style: solid;
  border-top-width: 35px;
  border-top-style: solid;

  display: flex;
	justify-content: center;
	align-items: flex-end;
  text-align: center;
  margin:0px ;
  padding:0px; /*no mover de 0px se DAÑA :v */
}
.CardStyle {
  width: 95%;
  height: auto/*460px;/*65vh*/
}
.Banner {
  background-color: #D7DBDF;
  width: 100%;
  height:auto;
}
.Banner-text {
  color: grey;
  text-align: center;
  padding-top: 5px;
  font-family: Poppins-Medium, Sans;
  font-size: 18px;
}
.Banner-img {
  height: 100%; 
}
.Banner-btn {
  background-color: #62788D;
  color: "#FFFFFF";
}
.box{ 
  display:none;
  overflow: hidden;
}
@media only screen and (min-width:600px) {
  .lg {
    display: block;
  }
}
@media only screen and (max-width:500px) {
  .contenido2 {
    height: 28vh;
    display: inline;
  }
  .pregunta {
    margin-top: 10vh;
  }
  .contenido p {  
    /* font-family: Poppins-Regular, Sans; */
    font-size: calc(1rem + 1.5vw);/*2.3rem*/
  }
  .dots {
    width: 90%;
    margin: 0px;
    margin-top: 0px;
    position: absolute;
    bottom: 12px;
    left: 13px;
    right: 10px;
  }
  #question p{
    font-family: Poppins-Medium, Sans;
    font-size: 1.2rem;/*40px*/
    font-weight: 700;
  }
}
.frame-text {
  color:white;
  font-family:Poppins-Regular;
  font-size: 14px;
  margin:6%;
  /* margin-top: 0px; */
  /* margin-bottom: 0px; */
  margin-left: -20%;/*-20%*//*-71.9%*/
  /* margin-right: 0px; */
}
@media only screen and (max-width:640px) {
  .frame-text {
    font-size: 13px;
    margin-left: -20%;
    margin-right: -5px;
    width: 150px; 
  }
  .trapezoid {
    width: 95%;
    height: 0px;
    border-right: 28px solid transparent;
    border-left-width: 28px;
    border-left-style: solid;
    border-top-width: 35px;
    border-top-style: solid;
  
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    margin:0px ;
    padding:0px; /*no mover de 0px se DAÑA :v */
  }
}

@media only screen and (max-width:414px) {
  .mobileSlider {
    display: show;
  }
  .desktopSlider {
    display: none;
  }
  .imageHeader {
    margin-left: 0px;
  }
  .headerContenido {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    align-content: right;
  }
}

@media only screen and (min-width:415px) {
  .desktopSlider {
    display: show;
  }
  .mobileSlider {
    display: none;
  }
  .imageHeader {
    margin-top: -40px;
    margin-right: 0%;
  }
  .resultText {
    font-size: calc(1rem + 0.1vw);
    margin-left:-20%;
  }
}
@media only screen and (min-width:1400px) {
  .resultText {
    font-size: 1.5vw;
    margin-left:-20%;
  }
}

